:root{
    --fontWhite: #ffffff;
    --borderGrey: #c5c1c1;
    --footerBackground: #252729;
    --colorOver: #463AB5;
    --xs: 600px;
    --s: 768px;
    --l: 992px;
    --xl: 1200px;
    --spinFotter--3deg: 3deg;
    --spinFooter--2deg: 2deg;
    --spinFooter--1deg: 1deg;
    --spinFooter: 2deg;
    --nameFont: 'Roboto Condensed', sans-serif;
    --color1: #fa0404;
    --color2: #ddad0d;
    --color3: #7df110;
    --color4: #20ebeb;
    --color5: #1389e9;
    --color6: #9920df;
    --color7: #e475a9;
    --color8: #8a7f7f;
    --color9: #1961e7;
    
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.home{
/*     width: var(--s);
    max-width: var(--s); */
    overflow: hidden;
    margin: 0px;

}

.navbar{
    width: 100%;
    height: 1.5rem;
    padding-bottom: 12px;
   /*  border-bottom: 3px solid var(--footerBackground); */
    font-family: var(--nameFont);
}

.navbar__home{
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 10;
}

.navbar__home__icon{
    text-decoration: none;
    font-size: 28px;
    color: var(--borderGrey);
}

.navbar__home__icon:hover{
    color: var(--colorOver);
}

/* .navbar__home__icon{
    font-size: 35px;
    color: var(--borderGrey);
} */

.navbar__list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;
    list-style-type: none;
    padding-right: 15px;
}

.navbar__list__item{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: var(--borderGrey);
}

.navbar__list__item--underline{
    border-top: 3px solid var(--colorOver);
}

.navbar__list__item:hover{
    transform: scale(1.1);
    color: var(--colorOver);
    cursor: pointer;
}


.home__slope__line{
    width: 110%;
    height: 50px;
    position: absolute;
    top: 29px;
    transform: rotate(3deg);
    background-color: white;
    border-bottom: 3px solid var(--footerBackground);
}

.home__slope__line--deg{
    transform: rotate(-3deg);

}

/* */

.reset__home{
    position: absolute;
    top: -30px;
    left: 5px;
}

.home__background--image{
    width: 100%;
    height: 100vh;
}

.message__container{
    position: absolute;
    bottom: 76%;
    left: 22%;
    width: 60%;
    height: 10%;
    color: var(--fontWhite);
    font-weight: 600;
    font-size: 2rem;
    font-family: var(--nameFont);
}

.home__footer{
    width: 100%;
    height: 35px;
    background-color: var(--footerBackground);
    position: absolute;
    margin: 0 auto;
    opacity: 0.4;
    bottom: 0px;
    color: var(--fontWhite);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.symbol{
    font-family: var(--nameFont);
    font-weight: 700;
    color: inherit;
    padding-left: 15px;
}

.redes__sociales{
    color: inherit;
    text-decoration: none;
    padding-right: 25px;
}

.redes__sociales__icon:hover{
    font-size: 25px;
    cursor: pointer;
}

 .container__portfolio{
    position: relative;
    bottom: 700px;
    height: 500px;
    width: 90%;
    margin: 0 auto;
    margin: 0 auto;
    display: grid;
}


.regen__grid{
    position:absolute;
    bottom: 40%;
    left: 45%;
    background-color: lightblue;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    font-size: 1.1rem;
}

@media (max-width: 500px) {
/*     .home__footer{
        bottom: 25px;
        height: 60px;
        flex-direction: column;
    }
    .container__redes__sociales{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    } */
    .home__footer{
        bottom: 25px;
        height: 60px;
        flex-direction: column;
    }

    .container__redes__sociales{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .symbol{
        padding-left: 0px;
    }
    .redes__sociales{
        padding-right: 0px;
    }

    .navbar__home{
        display: none;
    }

    .message__container{
        bottom: 84%;
        left: 12%;
        width: 80%;
        height: 10%;
        font-size: 1.7rem;
    }
}


@media (max-width: 800px) {
    .home__slope__line{
        display: none;
    }

    .navbar{
        border-bottom: 3px solid var(--footerBackground);
    }

}


 @media(min-width: 950px){

    .home__slope__line{
        transform: rotate(var(--spinFooter--2deg));
    }

 }

 @media(min-width: 1400px){
    .home__slope__line{
        transform: rotate(var(--spinFooter--1deg));
    }
}



/*Patron de estilos siguiendo el patron mobile first */
