:root{
    --fontWhite: #ffffff;
    --borderGrey: #c5c1c1;
    --footerBackground: #252729;
    --xs: 600px;
    --s: 768px;
    --l: 992px;
    --xl: 1200px;
    --spinFooter: 2deg;
    --nameFont: 'Roboto Condensed', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.home{
/*     width: var(--s);
    max-width: var(--s); */
    overflow: hidden;
    margin: 0px;

}

.navbar{
    width: 100%;
    height: 1.5rem;
    padding-bottom: 12px;
   /*  border-bottom: 3px solid var(--footerBackground); */
    font-family: var(--nameFont);
}

.navbar__list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;
    list-style-type: none;
    padding-right: 15px;
}

.navbar__list__item{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: var(--borderGrey);
}

.navbar__list__item--underline{
    border-top: 3px solid var(--borderGrey);
}

.navbar__list__item:hover{
    transform: scale(1.1);
    color: teal;
    cursor: pointer;
}


.home__slope__line{
    width: 110%;
    height: 50px;
    position: absolute;
    top: 29px;
    transform: rotate(3deg);
    background-color: white;
    border-bottom: 3px solid var(--footerBackground);
}

.home__background--image{
    width: 100%;
    height: 100vh;
}


.home__footer{
    width: 100%;
    height: 35px;
    background-color: var(--footerBackground);
    position: absolute;
    margin: 0 auto;
    opacity: 0.4;
    bottom: 0px;
    color: var(--fontWhite);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.symbol{
    font-family: var(--nameFont);
    font-weight: 700;
    color: inherit;
}

.redes__sociales{
    color: inherit;
    text-decoration: none;
    padding-right: 0px;
}

.redes__sociales__icon:hover{
    font-size: 25px;
    cursor: pointer;
}

.portfolio{
    position: absolute;
    bottom: 20%;
    left: 20%;
    width: 70%;
    height: 50%;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.portfolio__item--anim:hover{
    transform: scale(1.1);
}

.portfolio__item--1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.portfolio__item--2{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
.portfolio__item--3{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

.portfolio__item--4{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
}

.portfolio__item--5{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.portfolio__item--6{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.portfolio__item--7{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.portfolio__item--8{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
}

.responsive__img{
    width: 100%;
    height: auto;
}








@media (max-width: 600px) {
    .home__footer{
        bottom: 25px;
        height: 60px;
        flex-direction: column;
    }
    .container__redes__sociales{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
}



/*Patron de estilos siguiendo el patron mobile first */
